#main-content {
    display: inline;
}

#contact {
    background-color: #C2BCBC;
}

#mainNav {
    background-color: #4B4340;
}

/*TODO: move*/

#category-content {
    height: auto;
    margin: -30px 220px;
    min-height: 103%;
    padding: 20px;
    border-left: 3px solid black;
    /*background-color: #437A39;*/
    width: 88%;
}

    #category-content .section {
        font: #ffffff;
    }

    #category-content a {
        color: #fff;
        text-decoration: none;
        /*width: 20%;*/
    }

    #category-content h2 {
        color: #fff;
    }

.topic-box {
    display: inline-block;
    margin: 15px;
    width: 20%;
}

#categories a {
    text-decoration: none;
}

#add-category {
    height: 80%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.with-header-bg span {
    color: #fff;
}

.add-category div {
    display: inline-block;
    margin: 20% 25%;
    position: relative;
}

.with-header-bg, .with-education, .with-header-library, .with-header-hall, .with-header-book, .with-header-university {
    background: url('../images/header.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.with-education {
    background-image: url('../images/education.jpg');
    color: #fff;
}

.with-header-library {
    background-image: url('../images/library.jpg');
}

.with-header-hall {
    background-image: url('../images/hall.jpg');
}

.with-header-book {
    background-image: url('../images/book.jpg');
}

.with-header-university {
    background-image: url('../images/university.jpg');
}
#main-heading {
    background-color: rgba(0,0,0,0.5);
}
/*.white {
    color: #FFF;
}*/
.special-content {
    background-color: #000;
    opacity: 0.7;
}

.special-btn-centered {
    margin: auto;
    width: 100%;
}
.black {
    color: #000;
}

#wrapper-sections { /*width: 100%;*/
}
