#main-content { display: inline; }

#contact { background-color: #808080; }

#mainNav { background-color: #4B4340; }

/*TODO: move*/

#category-content {
    height: auto;
    margin: -30px 220px;
    min-height: 103%;
    padding: 20px;
    border-left: 3px solid black;
    /*background-color: #437A39;*/
    width: 88%;
}

#category-content .section { font: #ffffff; }

#category-content a {
    color: #fff;
    text-decoration: none;
    /*width: 20%;*/
}

#category-content h2 { color: #fff; }

.topic-box {
    display: inline-block;
    margin: 15px;
    width: 20%;
}

#categories a { text-decoration: none; }

#add-category {
    height: 80%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.with-header-bg span { color: #fff; }

.add-category div {
    display: inline-block;
    margin: 20% 25%;
    position: relative;
}

.with-header-bg {
    background-image: url('../images/header.jpg');
    height: 100%;
    width: 100%;
}

#wrapper-sections { /*width: 100%;*/ }
