body { padding-top: 90px; }

.panel-login {
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    border-color: #ccc;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    background-color: #fff;
    border-color: #fff;
    color: #00415d;
    text-align: center;
}

.panel-login > .panel-heading a {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    color: #666;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #666;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    border: 1px solid #ddd;
    font-size: 16px;
    height: 45px;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #ccc;
    box-shadow: none;
    outline: none;
}

.btn-login {
    background-color: #59B2E0;
    border-color: #59B2E6;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    outline: none;
    padding: 14px 0;
    text-transform: uppercase;
}

.btn-login:hover,
.btn-login:focus {
    background-color: #53A3CD;
    border-color: #53A3CD;
    color: #fff;
}

.forgot-password {
    color: #888;
    text-decoration: underline;
}

.forgot-password:hover,
.forgot-password:focus {
    color: #666;
    text-decoration: underline;
}

.btn-register {
    background-color: #1CB94E;
    border-color: #1CB94A;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    outline: none;
    padding: 14px 0;
    text-transform: uppercase;
}

.btn-register:hover,
.btn-register:focus {
    background-color: #1CA347;
    border-color: #1CA347;
    color: #fff;
}

.wrapper-register { padding: 70px; }

#register { padding: 0; }

#login { padding: 0; }

.wrapper-login { padding: 15% 10%; }

#btn-register { background: #666; }

body { }