blockquote { border-left: none }

.quote-badge { background-color: rgba(0, 0, 0, 0.2); }

.quote-box {
    
    background-color: #4ADFCC;
    border-radius: 17px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    color: white;
    margin-top: -50px;
    margin-top: 25px;
    overflow: hidden;
    padding-top: -100px;
    width: 50%;    
}

.quotation-mark {
    
    color: white;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: -10px;    
}

.quote-text {
    
    font-size: 19px;
    margin-top: -55px;
}

.comments-bg {
    background: #696969;
    border-radius: 5px;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    width: 90%;
}

.topics-container-custom .row { color: #fff; }