<div class="with-education">
    <div class="header-content special-content">
        <div class="header-content-inner text-center fixed-center">
            <h1>E-Academy - study freely.</h1>
            <p>E-Academy is an amazing place for everyone who is interested in learning. <br />
            Here you may find solutions to your problems that have already been solved by another users.  <br />
            You can also add new materials and share them with everyone. <br />
            E-Academy is here. Now. Freely.</p>
        </div>
    </div>
</div>