<form class="form-horizontal">
    <fieldset class="pull-left">
        <legend>Add Category</legend>
        <div class="form-group">
            <label for="tb-section-name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="tb-section-name" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label for="tb-section-description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="tb-section-description"></textarea>
                <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
            </div>
        </div>
        <button class="btn btn-default" id="btn-section-add">Add</button>
    </fieldset>
</form>