<section id="add-category">
    <div class="with-header-bg add-category">
        <i class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam libero, tristique vitae pharetra sed, rutrum eget lorem. Suspendisse sed aliquam nisi. Aenean ac est mauris. Mauris mattis lorem pharetra pretium consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tempor ac dui sed rhoncus. Praesent luctus in.</i>
        <div class="input-form">
            <span>Name:</span>
            <input class="form-control" id="tb-category-add" />
            <button class="clear btn btn-default" id="btn-category-add">Add</button>
        <div />
    </div>
</section>