<div id="topic-add">
    <div class="add-topic-form">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" class="active special-color" id="login-form-link">Add new topic</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="login-form">
                                        <label>Add title to the topic *</label>
                                        <div class="form-group">
                                            <input type="text" name="section-name" id="tb-topic-title" tabindex="1" class="form-control" placeholder="Topic title" value="">
                                        </div>
                                        <label>Add content to the topic *</label>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" id="tb-topic-content" tabindex="2" placeholder="Topic content"></textarea>
                                        </div>
                                        <label>Add video to the topic *</label>
                                        <div class="form-group">
                                            <input type="text" name="section-name" id="tb-topic-video" tabindex="3" class="form-control" placeholder="Youtube video url" value="">
                                        </div>
                                        <label>Add files to the topic</label>
                                        <div class="form-group">
                                            <input class="btn btn-info" type="file" id="opmlFile">
                                            <p class="small">Allowed file types: zip</p>
                                        </div>
                                        <label>Add example</label>
                                        <div id="topic-examples">
                                            <button id="add-example" class="btn btn-warning">Add new example</button>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="button" name="login-submit" id="btn-topic-add" tabindex="3" class="form-control btn btn-primary" value="Add">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
