<section id="categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Categories</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each this}}
            <a class="col-lg-3 col-md-6 text-center btn-category-show" id="{{this.Id}}">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h3>{{this.Name}}</h3>
                    <p class="text-muted"></p>
                </div>
            </a>
            {{/each}}
            <a href="#/add/category" class="col-lg-3 col-md-6 text-center btn-category-add">
                <div class="service-box black">
                    <i class="fa fa-4x fa-plus-circle wow bounceIn text-primary black"></i>
                    <h3>Add new</h3>
                </div>
            </a>
        </div>
    </div>
</section>
