<div id="wrapper-sections">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Sections
                </a>
            </li>
            {{#each this.Sections}}
            <li class="btn-section-show" id="{{this.Id}}">
                <a>{{this.Name}}</a>
            </li>
            {{/each}}
            <hr style="max-width: 80%;"/>

            <li class="btn-section-add">
                <a>Add</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div class="with-header-bg" id="category-content">
        <div id="page-content-wrapper">

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->