<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Need help?</h2>
                <hr class="primary">
                <p>Our platform is made to be easily used. Everything is possible just in a single click.</p>
                <p>In case you have any troubles using our platform or ideas to improve it, please get in touch with us on:</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>
                    <a style="color: #333333" href="mailto:support@eacademy.com">support@eacademy.com</a>
                </p>
            </div>
        </div>
    </div>
</section>