<div id="header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</div>

<section id="categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Categories</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each this}}
            <a class="col-lg-3 col-md-6 text-center btn-category-show" id={{this.Id}}>
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h3>{{this.Name}}</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </a>
            {{/each}}
            <a href="#/add/category" class="col-lg-3 col-md-6 text-center btn-category-add">
                <div class="service-box">
                    <i class="fa fa-4x fa-plus-circle wow bounceIn text-primary"></i>
                    <h3>Add</h3>
                </div>
            </a>
        </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
            </div>
        </div>
    </div>
</section>